// Executable filename for each mkxp-z targets
MKXPZ_EXECUTABLE_NAME = mkxp-z
MKXPZ_EXECUTABLE_NAME_PLIST = $(MKXPZ_EXECUTABLE_NAME)

// Ruby (MRI) version to include Ruby headers
MRI_VERSION = 3.1.0

// Exclude directory names from recursive search
EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES = $(inherited) dependencies build build-* prefix prefix-* DerivedData *.noindex

// Dependencies directory for include and library paths
DEPENDENCY_SEARCH_PATH[arch=x86_64] = $(PROJECT_DIR)/dependencies/build-x86_64
DEPENDENCY_SEARCH_PATH[arch=arm64] = $(PROJECT_DIR)/dependencies/build-arm64
